-- MySQL dump 10.13  Distrib 9.2.0, for Win64 (x86_64)
--
-- Host: localhost    Database: collegeplanner
-- ------------------------------------------------------
-- Server version	9.2.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `classes_take`
--

DROP TABLE IF EXISTS `classes_take`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `classes_take` (
  `studentID` int NOT NULL,
  `courseID` int NOT NULL,
  PRIMARY KEY (`studentID`,`courseID`),
  KEY `courseID` (`courseID`),
  CONSTRAINT `classes_take_ibfk_1` FOREIGN KEY (`studentID`) REFERENCES `student` (`studentID`),
  CONSTRAINT `classes_take_ibfk_2` FOREIGN KEY (`courseID`) REFERENCES `course` (`courseID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `classes_take`
--

LOCK TABLES `classes_take` WRITE;
/*!40000 ALTER TABLE `classes_take` DISABLE KEYS */;
INSERT INTO `classes_take` VALUES (5,2),(4,3),(5,3),(5,4),(5,5),(5,6),(5,7),(4,8),(5,8),(4,9),(5,9),(4,11),(7,11),(4,12),(4,13),(4,14),(4,15),(4,16),(4,17);
/*!40000 ALTER TABLE `classes_take` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `college`
--

DROP TABLE IF EXISTS `college`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `college` (
  `collegeID` int NOT NULL,
  `Name` varchar(20) NOT NULL,
  PRIMARY KEY (`collegeID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `college`
--

LOCK TABLES `college` WRITE;
/*!40000 ALTER TABLE `college` DISABLE KEYS */;
INSERT INTO `college` VALUES (1,'Fowler'),(2,'Argyros'),(3,'Dodge'),(4,'Schmid');
/*!40000 ALTER TABLE `college` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `course`
--

DROP TABLE IF EXISTS `course`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `course` (
  `courseID` int NOT NULL,
  `Name` varchar(20) NOT NULL,
  `collegeID` int NOT NULL,
  `professorID` int DEFAULT NULL,
  `prereq` int DEFAULT NULL,
  PRIMARY KEY (`courseID`),
  KEY `collegeID` (`collegeID`),
  KEY `fk_prof` (`professorID`),
  KEY `fk_course` (`prereq`),
  CONSTRAINT `course_ibfk_1` FOREIGN KEY (`collegeID`) REFERENCES `college` (`collegeID`),
  CONSTRAINT `fk_course` FOREIGN KEY (`prereq`) REFERENCES `year` (`yearID`),
  CONSTRAINT `fk_prof` FOREIGN KEY (`professorID`) REFERENCES `professor` (`professorID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `course`
--

LOCK TABLES `course` WRITE;
/*!40000 ALTER TABLE `course` DISABLE KEYS */;
INSERT INTO `course` VALUES (1,'CPSC-393',1,5,3),(2,'MGSC-220',2,3,1),(3,'ENGR-101',1,7,1),(4,'MATH-215',4,8,1),(5,'MATH-110',4,8,1),(6,'MATH-111',4,8,1),(7,'MATH-210',4,8,1),(8,'CPSC-230',1,9,1),(9,'CPSC-231',1,9,1),(10,'CPSC-330',1,2,3),(11,'CPSC-350',1,1,3),(12,'CPSC-351',1,2,3),(13,'CPSC-353',1,10,3),(14,'CPSC-354',1,2,3),(15,'CPSC-380',1,1,3),(16,'CPSC-406',1,1,3),(17,'CPSC-408',1,11,3);
/*!40000 ALTER TABLE `course` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `course_requirements`
--

DROP TABLE IF EXISTS `course_requirements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `course_requirements` (
  `degreeProgramID` int NOT NULL,
  `courseID` int NOT NULL,
  PRIMARY KEY (`degreeProgramID`,`courseID`),
  KEY `courseID` (`courseID`),
  CONSTRAINT `course_requirements_ibfk_1` FOREIGN KEY (`degreeProgramID`) REFERENCES `degreeprogram` (`degreeProgramID`),
  CONSTRAINT `course_requirements_ibfk_2` FOREIGN KEY (`courseID`) REFERENCES `course` (`courseID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `course_requirements`
--

LOCK TABLES `course_requirements` WRITE;
/*!40000 ALTER TABLE `course_requirements` DISABLE KEYS */;
INSERT INTO `course_requirements` VALUES (4,3),(4,4),(4,5),(4,6),(4,7),(4,8),(4,9),(4,10),(4,11),(4,12),(4,13),(4,14),(4,15),(4,16),(4,17);
/*!40000 ALTER TABLE `course_requirements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `degreeprogram`
--

DROP TABLE IF EXISTS `degreeprogram`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `degreeprogram` (
  `degreeProgramID` int NOT NULL,
  `Name` varchar(20) NOT NULL,
  `collegeID` int NOT NULL,
  PRIMARY KEY (`degreeProgramID`),
  KEY `collegeID` (`collegeID`),
  CONSTRAINT `degreeprogram_ibfk_1` FOREIGN KEY (`collegeID`) REFERENCES `college` (`collegeID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `degreeprogram`
--

LOCK TABLES `degreeprogram` WRITE;
/*!40000 ALTER TABLE `degreeprogram` DISABLE KEYS */;
INSERT INTO `degreeprogram` VALUES (1,'Data Science',1),(2,'Business',2),(3,'Creative Producing',3),(4,'Computer Science',1);
/*!40000 ALTER TABLE `degreeprogram` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `professor`
--

DROP TABLE IF EXISTS `professor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `professor` (
  `professorID` int NOT NULL,
  `Name` varchar(20) NOT NULL,
  `collegeID` int NOT NULL,
  `active` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`professorID`),
  KEY `collegeID` (`collegeID`),
  CONSTRAINT `professor_ibfk_1` FOREIGN KEY (`collegeID`) REFERENCES `college` (`collegeID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `professor`
--

LOCK TABLES `professor` WRITE;
/*!40000 ALTER TABLE `professor` DISABLE KEYS */;
INSERT INTO `professor` VALUES (1,'Rene German',1,1),(2,'Erik Linstead',1,1),(3,'Tim Frenzel',2,1),(4,'Duncan',4,1),(5,'Chelsea Parlett',1,1),(6,'Brian Gott',3,1),(7,'Nicole Wagner',1,1),(8,'Jess Boling',4,1),(9,'Elia Lledo',1,1),(10,'Michael Fahy',1,1),(11,'Sierra Clibourne',1,1),(12,'I-Ting Chao',1,1);
/*!40000 ALTER TABLE `professor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student`
--

DROP TABLE IF EXISTS `student`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `student` (
  `studentID` int NOT NULL,
  `Name` varchar(20) NOT NULL,
  `degreeProgramID` int NOT NULL,
  `collegeID` int NOT NULL,
  `active` tinyint(1) DEFAULT NULL,
  `year` int DEFAULT NULL,
  PRIMARY KEY (`studentID`),
  KEY `degreeProgramID` (`degreeProgramID`),
  KEY `collegeID` (`collegeID`),
  KEY `fk` (`year`),
  CONSTRAINT `fk` FOREIGN KEY (`year`) REFERENCES `year` (`yearID`),
  CONSTRAINT `student_ibfk_1` FOREIGN KEY (`degreeProgramID`) REFERENCES `degreeprogram` (`degreeProgramID`),
  CONSTRAINT `student_ibfk_2` FOREIGN KEY (`collegeID`) REFERENCES `college` (`collegeID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student`
--

LOCK TABLES `student` WRITE;
/*!40000 ALTER TABLE `student` DISABLE KEYS */;
INSERT INTO `student` VALUES (1,'Diego Fondevilla',1,1,1,3),(2,'Lindsey Lee',1,1,1,1),(3,'Ethan Santana',1,1,1,1),(4,'Kaye Galang',4,1,1,3),(5,'Donnie Militante',2,2,1,2),(6,'Devon Tjong',2,2,1,1),(7,'Keira Ryan',4,1,1,3);
/*!40000 ALTER TABLE `student` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `vstudentpercollege`
--

DROP TABLE IF EXISTS `vstudentpercollege`;
/*!50001 DROP VIEW IF EXISTS `vstudentpercollege`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vstudentpercollege` AS SELECT 
 1 AS `name`,
 1 AS `Total_Students`*/;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `year`
--

DROP TABLE IF EXISTS `year`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `year` (
  `yearID` int NOT NULL,
  `Name` varchar(10) DEFAULT NULL,
  PRIMARY KEY (`yearID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `year`
--

LOCK TABLES `year` WRITE;
/*!40000 ALTER TABLE `year` DISABLE KEYS */;
INSERT INTO `year` VALUES (1,'Freshman'),(2,'Sophomore'),(3,'Junior'),(4,'Senior');
/*!40000 ALTER TABLE `year` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Final view structure for view `vstudentpercollege`
--

/*!50001 DROP VIEW IF EXISTS `vstudentpercollege`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vstudentpercollege` AS select `college`.`Name` AS `name`,count(0) AS `Total_Students` from (`student` join `college` on((`student`.`collegeID` = `college`.`collegeID`))) group by `college`.`Name` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-05-24 22:35:21
